<h1>Pocket Stats</h1>
<p>(Currently looking at results from <b><%= Article.count(username: @user.username) %></b> articles)</p>
<% if @user %>
  <%= partial :main %>
<% else %>
<% end %>
<footer>
</footer>