<% if @user %>
  <div class="hero-unit">
    Signed in as <%= @user.username %>
  </div>
  <hr>
  <%= partial :main %>
<% else %>
  <a href="/oauth/connect">Sign In</a>
<div class="hero-unit">
</div>
<hr>
<%= partial :main %>
<% end %>
<footer>
</footer>