<% if @user %>
  <div class="hero-unit">
    Signed in as <%= @user.username %>
  </div>
  <hr>
  <%= partial :main %>
<% else %>
<div class="hero-unit">
  Signed in as <%= @user.username %>
</div>
<hr>
<%= partial :main %>
<% end %>
<footer>
</footer>